.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  border-radius: 5px;
}

#canvas1 {
  position: relative;
  width: 800px;
  height: 700px;
}

.container > div {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.slider {
  width: 100%;
}